@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif !important;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slider {
  margin: 0 20px;
  overflow: "hidden";
}

.slider img {
  width: 100%;
  border-radius: 10px;
}

/* .css-t3ipsp-control {
  min-height: 50px !important;
  border-color: none !important;
}

.css-t3ipsp-control:hover {
  min-height: 50px !important;
  border-color: none !important;
} */

.boxShadow {
  box-shadow: 0px -4px 20px 0px #0000000F;
}

.modal {
  pointer-events: none;
  position: fixed;
  inset: 0px;
  margin: 0px;
  display: grid;
  height: 100%;
  max-height: none;
  width: 100%;
  max-width: none;
  justify-items: center;
  padding: 0px;
  opacity: 0px;
  overscroll-behavior: contain;
  z-index: 9999;
  background-color: transparent;
  color: inherit;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-property: transform, opacity, visibility;
  overflow-y: hidden;
}

.slide img {
  margin: 0 auto;
}

.slide {
  transform: scale(0.7);
  transition: transform 300ms;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
}

.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

.react-multiple-carousel__arrow--right {
  right: calc(0%) !important;
  /* right: calc(4%) !important; */
  background: black !important;
}

.react-multiple-carousel__arrow::before {
  color: white !important;
}

.react-multiple-carousel__arrow--left {
  left: calc(0%) !important;
  /* left: calc(4%) !important; */
  background: black !important;
}

.slider {
  margin: 0 20px;
  overflow: "hidden";
}

.slider img {
  width: 100%;
  border-radius: 10px;
}

.custom-dot-list-style button {
  border: none;
  background: rgb(255, 68, 68);
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(255, 68, 68) !important;
}

.css-13cymwt-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 42px !important;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}

.css-1nmdiq5-menu {
  color: black !important;
}

.scrollbar-view::-webkit-scrollbar{
  width: 8px;
  background-color: #0000000F;
}

.scrollbar-view::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.scrollbar-view::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}